.header{
    height: 55px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.left-section{
    width:200px;
    display:flex;
    align-items: center;
    
}

.hamburger-menu{
    height:24px;
    margin-left:20px;
    margin-right:20px;
}

.youtube-logo{
    height:24px;
}

.middle-section{
    background-color:grey;
    flex: 1;
    max-width:600px;
    margin-left:100px;
    margin-right:100px;
    display:flex;
    align-items:center;
}

.search-bar{
    height: 24px;
}

.search-botton{
    height: 30px;
    margin-right:16px;
    margin-left:-1px;
    border:1;
}
.search-icon{
    height: 24px;
    
}

.voice-icon{
    border-radius:25px;
    width:30px;
    height: 30px;
    border:0;
    margin-right:10px;
}
.voice-search-icon{
    height: 30px;
    border-radius:20px;
    
}

.right-section{
    background-color:aquamarine;
    width: 250px;
}

